In [10]:
import os
import pandas as pd
from preprocessing.load_data import read_pedigree_sheets, get_pedigree_csv, read_fam
geno_path = "/home/kseniia/projects/data/raw_data/"
results_path = "/home/kseniia/projects/github/pedigree_analysis/results"

In [11]:
pedid_match, ped_df, geno_id = read_pedigree_sheets(
        os.path.join("data/raw_pedigree_part1.xlsx")
        )
# 2nd part of pedigree
ped_addit = get_pedigree_csv(
    os.path.join("data/raw_pedigree_part2.csv")
        )
# plink fam files
fam_11k_ids = read_fam(os.path.join(geno_path, "TB_11K.fam"))
fam_6k_ids = read_fam(os.path.join(geno_path, "TB_6K.fam"))
bed_ids = fam_11k_ids.union(fam_6k_ids)

In [12]:
pedid_match

      Equinome ID          Horse Name horse_id
0              82  A Goodlookin Broad       62
1            82_2  A Goodlookin Broad       62
2           CM012       Sadlers Wells       69
3           CM006          Fairy King       98
4           CM015       Turtle Island      106
...           ...                 ...      ...
14425  GDU001_228     Strawberry Lane   607500
14426  GDU001_345            Dorothea   607533
14427  KBR001_008           Promotion   607566
14428  GDN001_351        Never Change   607600
14429  GDN001_331       Golden Bullet   607633

[14430 rows x 3 columns]

In [15]:
pedid_match["Equinome ID"].nunique()

14430

In [16]:
pedid_match["horse_id"].nunique()

13803

In [24]:
absent_geno= geno_id[~geno_id["equinomeID"].isin(pedid_match["Equinome ID"])]

In [27]:
absent_geno

,id,batchID,equinomeID,SNPChip,Year of Birth,Country Reported,sex
2050,20141029_VS_2_33,20141029,VS_2_33,SNP70,2006,Australia,Female
5760,20160524_REF001_014,20160524,REF001_014,SNP670,2012,Australia,Male
5967,20140926_GDN001_345,20140926,GDN001_345,SNP70,2012,Great Britain,Male
6799,20160412_GDN001_910,20160412,GDN001_910,SNP670,2012,Ireland,Female
6829,20160928_TAR001_014,20160928,TAR001_014,SNP670,2012,New Zealand,Female
...,...,...,...,...,...,...,...
11176,20150430_JMO001_014,20150430,JMO001_014,SNP70,NaN,NaN,NaN
11177,20150430_JMO001_104,20150430,JMO001_104,SNP70,NaN,NaN,NaN
11178,20150430_JMO001_105,20150430,JMO001_105,SNP70,NaN,NaN,NaN
11179,20150505_JMO001_097,20150505,JMO001_097,SNP70,NaN,NaN,NaN
11180,20150721_JMO001_081,20150721,JMO001_081,SNP70,NaN,NaN,NaN

In [30]:
reviewed = pd.read_excel("data/raw_pedigree_part1.xlsx", sheet_name="PedIDMatch_Review")
reviewed = reviewed[reviewed["horse_id.1"]=="Remove"]
reviewed

,Equinome ID,Horse Name,horse_id,LIMS_Name,Check,PedQueryName,Check.1,Notes,horse_id.1
0,DRK001_320,0,23379,0_No name,False,arria,False,Manual review required,Remove
1,DAY001_630,0,29766,0_No name,False,pageantry,False,Manual review required,Remove
2,BWR001_006,0,46836,0_No name,False,bridlewood cat,False,Manual review required,Remove
3,JSB001_896,0,48581,0_No name,False,bru mor,False,Manual review required,Remove
4,WKS001_132,0,58507,0_No name,False,on broadway,False,Manual review required,Remove
...,...,...,...,...,...,...,...,...,...
3586,GDN001_1256,Port Lions,492398,Port Lions,Match,adso,False,NaN,Remove
3587,BWR001_005,Ra Ra Grandpa,371119,Ra Ra Grandpa,Match,yours truly,False,NaN,Remove
3588,LIP001_569,Smart Elissim,494053,Smart Elissim,Match,alverio,False,NaN,Remove
3589,JSB001_1463,Solar System,493388,Solar System,Match,alchian,False,NaN,Remove
3590,LIP001_626,Star Bliss,494119,Star Bliss,Match,always fabulous,False,NaN,Remove

In [41]:
test = reviewed[reviewed["Equinome ID"].isin(absent_geno["equinomeID"])]

In [42]:
test[test["LIMS_Name"]=="Not genotyped"]

,Equinome ID,Horse Name,horse_id,LIMS_Name,Check,PedQueryName,Check.1,Notes,horse_id.1
25,JMO001_090,0,5243,Not genotyped,False,afraz,False,Manual review required,Remove
26,JMO001_023,0,10294,Not genotyped,False,aliyapour,False,Manual review required,Remove
33,JMO001_105,0,35177,Not genotyped,False,behana,False,Manual review required,Remove
35,JMO001_040,0,35211,Not genotyped,False,behrama,False,Manual review required,Remove
40,JMO001_082,0,64758,Not genotyped,False,cholesky,False,Manual review required,Remove
42,JMO001_075,0,76566,Not genotyped,False,cristal groove,False,Manual review required,Remove
43,JMO001_104,0,80203,Not genotyped,False,dalasiri,False,Manual review required,Remove
44,JMO001_110,0,80348,Not genotyped,False,dalsiya,False,Manual review required,Remove
45,JMO001_015,0,80452,Not genotyped,False,damarlan,False,Manual review required,Remove
55,JMO001_081,0,105625,Not genotyped,False,english night,False,Manual review required,Remove
63,JMO001_073,0,132082,Not genotyped,False,gilby,False,Manual review required,Remove
69,JMO001_112,0,168723,Not genotyped,False,kalaroa,False,Manual review required,Remove
73,JMO001_115,0,170204,Not genotyped,False,katiola,False,Manual review required,Remove
75,JMO001_029,0,172509,Not genotyped,False,kilbirnie,False,Manual review required,Remove
77,JMO001_069,0,176357,Not genotyped,False,la baracca,False,Manual review required,Remove
83,JMO001_114,0,186360,Not genotyped,False,lidaya,False,Manual review required,Remove
88,JMO001_050,0,220963,Not genotyped,False,mouraniya,False,Manual review required,Remove
107,JMO001_049,0,286891,Not genotyped,False,sareva,False,Manual review required,Remove
108,JMO001_109,0,286925,Not genotyped,False,sarinaya,False,Manual review required,Remove
110,JMO001_080,0,291274,Not genotyped,False,secret sea,False,Manual review required,Remove
112,JMO001_097,0,294643,Not genotyped,False,shalaman,False,Manual review required,Remove
113,JMO001_059,0,294676,Not genotyped,False,shaleela,False,Manual review required,Remove
118,JMO001_044,0,297631,Not genotyped,False,shiramiyna,False,Manual review required,Remove
125,JMO001_030,0,347963,Not genotyped,False,tugboat,False,Manual review required,Remove
134,JMO001_066,0,371084,Not genotyped,False,yours faithfully,False,Manual review required,Remove
135,JMO001_014,0,371599,Not genotyped,False,zafarqand,False,Manual review required,Remove
136,JMO001_092,0,371902,Not genotyped,False,zalantoun,False,Manual review required,Remove